// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Aareon Colors
$aareon-blue: #002c67;
$aareon-blue-60: #6685ae;
$aareon-blue-40: #99aec9;
$aareon-blue-20: #ccd6e4;
$aareon-blue-10: #e5eaf1;

$aareon-grey: #747578;
$aareon-grey-60: #b1b3b4;
$aareon-grey-40: #cacbcc;
$aareon-grey-20: #e3e4e4;
$aareon-grey-10: #ececed;

$aareon-white: #ffff;

$aareon-orange: #e37b00;
$aareon-orange-60: #eeb066;
$aareon-orange-40: #f4ca99;
$aareon-orange-20: #f9e5cc;
$aareon-orange-10: #fcf2e5;

$aareon-light-blue: #60b0e6;
$aareon-light-blue-60: #add0f0;
$aareon-light-blue-40: #bfdff5;
$aareon-light-blue-20: #dfeffa;
$aareon-light-blue-10: #eff7fc;

$aareon-green: #009979;
$aareon-green-60: #66c2af;
$aareon-green-40: #99d6c9;
$aareon-green-20: #ccebe4;
$aareon-green-10: #e5f5f1;

$aareon-red: #ab1455;
$aareon-red-60: #cd7299;
$aareon-red-40: #dda1bb;
$aareon-red-20: #eed0dd;
$aareon-red-10: #f6e7ee;